.benefit_case{
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    margin: 20px 0;
}

.benefit_title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px;
}


.benefit_box_title{
    font-weight: 700;
    font-size: 15px;
}

.title{
font-size: 25px;
}

.benefit_boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.benefit_box{
    height: 260px;
    width: 220px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 130px;
    background-color: white;
    margin: 10px 30px 80px 30px;

}


.benefit_description{
 font-size: 15px;
 color: rgb(117, 117, 117);
 font-weight: 500;
}

.benefit_image_1,
.benefit_image_2,
.benefit_image_3{
    height: 45px;
    width: 45px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.benefit_image_1{
    background-color:  rgb(158, 158, 255);
}

.benefit_image_2{
    background-color: rgb(255, 199, 195)
}

.benefit_image_3{
    background-color: rgb(232, 170, 126);
}

.view_all_button{
    height: 32px;
    width: 80px;
    background-color: rgb(35, 35, 205);
    border-radius: 30px;
    color: white;
    border: 0;
}

.priority{
height: 300px;
width: 100vw;

}