.top_places{
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0;
}

.top_title{
    height: 100px;
    width: 100vw;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 800px) {
        font-size: 16px;
     }
}

.all_destinations{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 800px) {
       flex-direction: column;
    }
}

.destinations{
    height: 280px;
    width: auto;
    border-radius: 100px;
    margin: 20px 20px;
    @media screen and (max-width: 1100px) {
        height: 200px;
    }
}